@import url(http://fonts.googleapis.com/css?family=Inconsolata|Coming+Soon|Cantora:700);
/*** VARIABLES DEFINITIONS *** */
/*** RESETTING WHAT NEEDS TO BE *** */
* {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: inherit; }

/*** DEFAULT LAYOUT STYLE *** */
body {
  font-size: 11pt;
  width: 100%;
  margin: 20px auto;
  font-family: "Verdana";
  color: #222222; }

h1, h2 {
  font-family: "Inconsolata", "Verdana";
  text-align: right; }

h1 {
  font-size: 2em; }
  h1 > :first-child {
    color: #c00c15; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #c00c15; }
  a:hover {
    color: #ff5059; }

#main {
  float: left;
  margin-left: 30px;
  width: 500px; }
  #main p {
    margin: 10px 0;
    text-align: justify; }
  #main h2 {
    text-align: "right";
    margin: 20px 20px 10px 0; }

#sidebar {
  float: left;
  width: 200px;
  padding: 20px 20px 0 0;
  border-right: 1px solid #cccccc;
  text-align: right; }
  #sidebar h1, #sidebar h2 {
    letter-spacing: 1px;
    line-height: 20px; }
  #sidebar ul {
    list-style-type: none;
    margin: 20px 0; }
  #sidebar li {
    font-size: 14px;
    line-height: 20px; }
