---
title: Home
---

/        | 
/        | Purpose
/        | Organisation
/        | How to join
/        What
/        Why
/        When 
/        Where
/        News
h2 id="presentation" Presentation
p 
  | RubyJams is a user group for anyone with an interest in software development and willing to develop their Ruby skills and meet fellow developers. Check the date and place of the next meeting in the 
  a href="#updates" updates 
  | section.

h2 id="purpose" Purpose
p Unleashing your full potential at developing ruby code requires practice and reflection. Whether you are an advanced Ruby engineer, a casual web developer migrating from another technology or even never wrote a single line of code, the purpose of this group is to make the challenging journey of ruby development fun, exciting and rewarding.

h2 id="form" Form
p Once a week, we organise an evening coding session, where everyone is free to do whatever they want: exercises, pair programing, project development etc... We'll begin each session with an informal (and optional) check-in to get to know each other and to encourage collaboration. The program we follow is improvised as members find new challenges to take and share their ideas, just like a musician would contribute to a jam by playing a few notes.

h2 id="membership" Membership
p There is no cost or other specific requirements to join RubyJams. Everyone showing up at one of the meetings is a member, until they stop showing up for 4 consecutive weeks or decide to leave. Members participate in the organising of RubyJams events (finding venues, booking a room, organising a specific event etc...) on a voluntary basis.

h2 id="updates" Updates

- sorted_articles[0, 3].each do |post|
  article
    h2== link_to post[:title], post.path
    aside Posted at #{post[:created_at]}
    == post.compiled_content
